.popup{
    display: none;
    position: absolute;
    width: max-content;
    bottom: 10px;
    left: 50%;
    padding-bottom: 1vh;
    transform: translateX(-50%);
    border-radius: 2px;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.dot:hover .popup {
    display: flex;
}

.grid-image.spin-in {
    animation: spin 6700ms linear infinite ;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.popup img {
    width: 5vw;
    border-radius: 2px;
}

.selected .grid-image {
    border: 6px solid #7afd7a9c;
}

.grid-image:hover {
   border: 6px solid #7afd7a9c; 
}

.popup p {
    margin: 6px 0 0 0;
    text-align: center;
    white-space: nowrap;
}

/* ------------------------slider--------------------------- */
.slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 90%;
  align-self: center;
}

.slider::-webkit-slider-runnable-track {
  height: 8px;
  background: #96a0a0;
  border-radius: 999px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 60px;
  height: 30px;

  background: #5b3b2a;
  border-radius: 6px;

  margin-top: -16px; /* RAdjust until centered */
  cursor: pointer;
}

.sliderLabel{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


/* ----------------------------buttons-------------------------------- */
#deleteButton,
#clearAllButton,
#toggleHeatmapButton {
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 999px;
  background: #5b3b2a;
  color: white;
  cursor: pointer;
}

#deleteButton:hover,
#clearAllButton:hover,
#toggleHeatmapButton:hover {
  background: #4a2f21;
}

/* .heatMapButton{
 padding-left: 2%;
}

.deleteClearButton{
 padding-right: 2%;
} */